ClientApplication/src/conf/xml-resources/web-service-references/EmployeeImplService/wsdl/localhost_8080/Assignment1SoapService/EmployeeImplService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaces.my/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.my/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.my/" schemaLocation="http://localhost:8080/Assignment1SoapService/EmployeeImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllEmployees">
<part name="parameters" element="tns:getAllEmployees"/>
</message>
<message name="getAllEmployeesResponse">
<part name="parameters" element="tns:getAllEmployeesResponse"/>
</message>
<message name="getAllCountries">
<part name="parameters" element="tns:getAllCountries"/>
</message>
<message name="getAllCountriesResponse">
<part name="parameters" element="tns:getAllCountriesResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="addEmployeeResponse">
<part name="parameters" element="tns:addEmployeeResponse"/>
</message>
<message name="getEmployeeByID">
<part name="parameters" element="tns:getEmployeeByID"/>
</message>
<message name="getEmployeeByIDResponse">
<part name="parameters" element="tns:getEmployeeByIDResponse"/>
</message>
<portType name="IEmployee">
<operation name="getAllEmployees">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.my/IEmployee/getAllEmployeesRequest" message="tns:getAllEmployees"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.my/IEmployee/getAllEmployeesResponse" message="tns:getAllEmployeesResponse"/>
</operation>
<operation name="getAllCountries">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaces.my/IEmployee/getAllCountriesRequest" message="tns:getAllCountries"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaces.my/IEmployee/getAllCountriesResponse" message="tns:getAllCountriesResponse"/>
</operation>
<operation name="addEmployee">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.my/IEmployee/addEmployeeRequest" message="tns:addEmployee"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.my/IEmployee/addEmployeeResponse" message="tns:addEmployeeResponse"/>
</operation>
<operation name="getEmployeeByID">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.my/IEmployee/getEmployeeByIDRequest" message="tns:getEmployeeByID"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaces.my/IEmployee/getEmployeeByIDResponse" message="tns:getEmployeeByIDResponse"/>
</operation>
</portType>
</definitions>